*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.Wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.Card {
  overflow: hidden;
  box-shadow: 0 2px 20px clr-gray300;
border-radius: radius;
display: flex;
flex-direction:column;
justify-content: space-between;
cursor: pointer;
transition: transform 200ms ease-in;
}
.Card:hover {
  transform: scale(1.05);
  transition-duration: .5s ;
}
.Card_image{
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.Card_title{
  padding: 1rem;
}
.Card_desciption{
  padding: 0 1rem;
}
.Card_btn{
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid blanchedalmond;
  background: transparent;
  color: primary;
  border-radius: radius;
  transition: background 200ms ;
}